:root {
  --bg-color: #f9f9f9;
  --main-color: #171717;
  --secondary-color: #747474;
  --required-color: #d83933;
  --readonly-color: #efefef;
  --highlight-color: #0050d8;
  --checked-color: #ff00ff;
}

body {
  margin: 0;
  padding: 0;
  color: #171717;
  font-family: "Public Sans";
}
.container {
  background-color: var(--bg-color);
  min-width: 700px;
  max-width: 1000px;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  padding: 64px 0 54px 48px;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 0 0 32px;
  margin: 0;
}
form {
  padding: 0 45px;
}
form > p {
  margin: 24px 0;
}
section {
  margin-bottom: 32px;
}
select {
  appearance: none;
}
.required {
  color: var(--required-color);
}
.arrow {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
}
.search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 48%;
  margin-bottom: 21px;
}
.col-heading {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 8px;
}
input,
.selection {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #adadad;
  font-weight: 400;
  line-height: 1.4;
  padding: 9px 0 9px 10px;
  box-sizing: border-box;
  margin: 8px 0 0;
}
input::placeholder {
  color: var(--main-color);
  font-size: 16px;
}
.information p {
  margin: 0;
}
.placeholder-bg {
  background-color: var(--readonly-color);
}
.grey-text,
input.grey-text::placeholder {
  color: var(--secondary-color);
}

.highlited {
  color: var(--highlight-color);
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.check-mark {
  display: none;
}
.check-mark + label > .check {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #adadad;
  border-radius: 2px;
}
.check-mark:checked + label > .check:after {
  width: 22px;
  height: 22px;
  content: "\2713";
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  background-color: var(--checked-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-lable-text {
  margin-left: 8px;
  max-width: 90%;
}

.line {
  margin-top: 27px;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.link {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 94px;
  position: relative;
  top: -16px;
}
.btn {
  background-color: var(--highlight-color);
  padding: 12px 16px;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  right: 10px;
}
