:root {
  --main-color: #000000;
  --page-bg-color: #ffffff;
  --form-place-bg-color: rgba(0, 0, 0, 0.5);
  --text-color: #fffcfc;
  --form-bg-color: #e5e5e5;
}

body {
  font-family: "Rosario", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.services,
.contact-us {
  margin-top: 128px;
}
#gallery {
  position: absolute;
  top: 0;
}
.container {
  display: block;
  width: 99vw;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav {
  height: 129px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
}

.nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.nav li:last-of-type {
  padding-right: 30px;
}
.nav a {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
.content {
  display: flex;
  justify-content: space-evenly;
  padding: 70px 2.2vw 0;
  box-sizing: border-box;
  align-items: center;
}
.side-imgbox {
  width: 20.6%;
}
.side-imgbox img {
  width: 100%;
}
.center-imgbox {
  width: 52%;
}
.center-imgbox > div {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 42px;
}
.center-imgbox img {
  max-width: 23.75vw;
}
.services .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: visible;
}
.left-imgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 45%;
  height: 90%;
  box-sizing: border-box;
  margin-left: 40px;
}
.right-imgbox {
  width: 45%;
  box-sizing: border-box;
}
.right-imgbox img {
  width: 100%;
}
.left-imgbox div {
  max-width: 50%;
  text-align: center;
  margin-bottom: 50px;
}
.services h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin: 12px 0 0;
}
.left-imgbox img {
  text-align: center;
  width: 100%;
}

.team h2 {
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  margin: 140px 0 100px;
}
.team .container > div {
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: flex;
  position: relative;
  max-height: 100%;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 20%;
}
.img-team {
  width: 100%;
}
.name {
  font-family: "Volkhov";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  opacity: 0;
  padding: 50px 0;
  background: rgba(163, 83, 10, 0.7);
  color: #fffafa;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0 0 42px 42px;
}
.card:hover .name {
  opacity: 1;
}

.cards:hover .card {
  filter: brightness(60%);
}

.cards:hover .card:hover {
  filter: brightness(100%);
}
.contact-us > .container {
  height: 73vh;
}
.contact-us > .container > div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 110px;
}
.contact-us-left {
  width: 50vw;
  margin-right: 35px;
}
.contact-us-right {
  width: 42vw;
}
.contact-us-left h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  font-style: italic;
  width: 80%;
  text-align: center;
}
.form {
  background-color: var(--form-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form > div {
  width: 94%;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.map {
  width: 100%;
  height: 100%;
}
input,
textarea {
  border: none;
  font-size: 36px;
  font-weight: 700;
  padding-left: 20px;
}
input::placeholder {
  font-size: 36px;
  font-weight: 700;

  color: var(--form-place-bg-color);
}
.input-name {
  width: 40%;
  height: 80px;
}
.input-email {
  width: 50%;
  height: 80px;
}
.input-message {
  width: 92%;
  height: 210px;
  margin: 45px 0 30px;
}
.footer {
}
.footer > div {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 99vw;
}
.footer a,
.footer p {
  color: inherit;
  font-size: 30px;
  text-align: center;
  display: block;
}
h4 {
  color: inherit;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.italic {
  font-style: italic;
}
.contacts {
  width: 30%;
}

.social {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.social a {
  text-align: left;
  font-weight: 600;
  font-style: italic;
}
.social img {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}
/* animation gallery */
.animation-gallery-center-left {
  transform: translate(-250%);
  animation: slide 1s ease-in-out forwards;
}
.animation-gallery-center-right {
  transform: translate(250%);
  animation: slide 1s ease-in-out forwards;
}
.animation-gallery-side-left {
  transform: translate(-150%);
  animation: slide 1s ease-in-out 1s forwards;
}
.animation-gallery-side-right {
  transform: translate(150%);
  animation: slide 1s ease-in-out 1s forwards;
}
@keyframes slide {
  to {
    transform: translate(0%);
  }
}
/* animation circle */
.left-imgbox {
  animation: circle-rotate-block 15s infinite ease-in-out;
}
@keyframes circle-rotate-block {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animation-circle {
  animation: circle-rotate-compensation 15s infinite ease-in-out;
}
@keyframes circle-rotate-compensation {
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
