.wrapper {
  margin: 0 auto;
  text-align: center;
}
.btn {
  padding: 20px;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background-color: bisque;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}
.container {
  margin: 30px;
}
.content {
  font-size: 20px;
  display: block;
}
.hide {
  display: none;
}
.pressed {
  background-color: rgba(229, 119, 252, 0.76);
}
