:root {
  --first-bg-color: #000000;
  --second-bg-color: #161616;
  --main-color: #ffffff;
  --secondary-color: #111111;
  --btn-color: #f6ad09;
  --highlight-color: #ffbb00;
  --text-color: #b2b2b2;
}
body {
  font-family: "Poppins";
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header {
  padding: 0 13.75%;
  background-color: var(--first-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 30px 0;
}
.logo a {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.nav {
  display: flex;
}
.nav-item {
  padding-left: 24px;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.top {
  background-color: var(--first-bg-color);
  margin: 0;
  padding: 0 13.75%;
  display: flex;
}
.top-left {
  width: 45%;
  padding: 20.7% 6.55% 11% 0;
  display: flex;
  flex-direction: column;
}
.top-right {
  width: 45%;
  position: relative;
}
.heading {
  font-weight: 600;
  font-size: 64px;
  margin: 0;
  line-height: 1.125;
}
.heading-margin {
  margin: 0 0 44px 220px;
  padding: 0;
}

.dot {
  color: var(--highlight-color);
}
.description {
  color: var(--text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  margin: 32px 0;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 19px 32px 16px 29px;
  background-color: var(--btn-color);
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  color: #332200;
  text-transform: uppercase;
}
.top-img {
  position: absolute;
}
.buy {
  margin-top: 145px;
}

.cards {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.card {
  margin: 0 20px;
}
.card-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 0;
}
.dash {
  width: 22px;
  height: 10px;
  margin-right: 9px;
  background-color: var(--btn-color);
  display: inline-block;
}
.subheading {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}
.black {
  color: var(--secondary-color);
}
.white {
  color: var(--main-color);
}
.price {
  font-family: "Roboto";
  font-weight: 500;
  color: #595959;
  font-size: 18px;
  margin: 10px 0 0 31px;
}
.technology {
  margin: 193px 0 0 0;
  display: flex;
  position: relative;
  background-color: var(--first-bg-color);
}
.tech-left {
  margin: 0 0 0 13.19%;
  width: 40%;
}
.tech-left .subheading {
  padding: 81px 0 19px;
}
.tech-right {
  width: 55%;
  position: relative;
}
.tech-img {
  position: absolute;
  top: -87px;
  right: 80px;
}
.description {
  margin: 42px 0 28px;
  line-height: 1.5;
}
.tech-heading-higlight {
  font-weight: 600;
  font-size: 24px;
  color: var(--highlight-color);
  margin: 0;
  text-transform: uppercase;
}
.tech-underlined {
  width: fit-content;
}
.line {
  margin-top: 3px;
  border-top: 4px solid var(--highlight-color);
}
.parts {
  display: flex;
}
.parts h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
}
.part-card {
  margin: 62px 42px 0 0;
}
.part-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.part-card p {
  font-family: "Roboto";
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 95px;
}
.partners {
  margin-top: 142px;
}
.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partner {
  border: 1px solid #e0e0e0;
  padding: 49px 104px;
  margin: 7.5px 10.5px;
  width: 350px;
  box-sizing: border-box;
  max-height: 135px;
}
.quote-section {
  margin-top: 108px;
  display: flex;
}
.quote-section > img {
  max-width: 780px;
  width: 50%;
}
.quote {
  display: inline-block;
  padding: 303px 236px 88px 74px;
  background-color: var(--highlight-color);
}
.quotes {
  height: 35px;
  position: relative;
}
.q-left {
  height: 35px;
  position: absolute;
  left: -35px;
  top: -10px;
}
.quote-text {
  position: relative;
  color: #332200;
  font-family: "Merriweather";
  font-weight: 900;
  font-size: 36px;
  line-height: 1.33;
  font-style: italic;
}

.q-right {
  position: absolute;
  bottom: -15px;
}
.author {
  color: #664400;
  margin: 17px 0 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}
.insurance {
  background-color: #161616;
  padding: 36px 0 100px;
}
.insurance-plans {
  display: flex;
  justify-content: center;
}
.insurance-card {
  background-color: var(--first-bg-color);
  margin: 0 41px 0 0;
  max-width: 456px;
  width: 30%;
  height: fit-content;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.insurance-card ul {
  display: flex;
  flex-direction: column;
  padding-left: 33px;
  margin: 14px 0 41px;
}
.insurance-card li {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  font-size: 18px;
}
.insurance-heading {
  padding: 33px 28px 0 54px;
  display: flex;
  justify-content: space-between;
}
.insurance-heading:first-child {
  color: #9c9c9c;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  margin: 0;
}
.insurance-price {
  color: var(--main-color);
}
.insurance-card p {
  text-align: right;
  margin: 0 33px 0 0;
  color: #9c9c9c;
}
.insurance-card:hover .insurance-heading:first-child {
  color: var(--highlight-color);
}
.insurance .dash {
  width: 15px;
  height: 5px;
}
.btn-register {
  max-width: fit-content;
  background-color: #2e2e2e;
  color: #cccccc;
  padding: 15px 28px;
  font-weight: 600;
  margin: 0 0 28px 54px;
  border-radius: 5px;
}
.footer {
  background-color: var(--first-bg-color);
}
.footer-container {
  padding: 56px 204px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.contact {
  padding: 36px 0 0;
}
.contact h4 {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
.contact ul {
  padding: 0;
}
.links:hover,
.social a:hover {
  color: var(--highlight-color);
}
.social {
  display: flex;
}
.social li {
  padding-right: 32px;
}

.links {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.015em;
  line-height: 1.87;
  color: var(--text-color);
}
.copyright {
  letter-spacing: 0.015em;
  color: #9c9c9c;
  padding: 0 0 46px 204px;
}
